<%= form_with(model: group, local: true) do |form| %>
  <% if group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(group.errors.count, "error") %> prohibited this group from being saved:</h2>

      <ul>
      <% group.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <%icons = {"car" => "icons/car.png", \
             "travel" => "icons/case.png", \
             "clothes" => "icons/clothes.png", \
             "grocery" => "icons/grocery.png", \
             "home" => "icons/home.png", \
             "office" => "icons/office.png", \
             "transport" => "icons/transport.png"}%>
  <fieldset>
    <% icons.each do |icon|%>
      <%=form.radio_button :icon, icon[1]%>
      <label for = "<%icon[0]%>" ><%= image_tag  "#{icon[1]}" %> </label>
    <%end%>
  </fieldset>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
